.filtro{
    display: none;
}

#listaArticulos{
font-size: 30px;
margin-top: 20px;
list-style: none;
font-weight: 600;
text-align: center;
}
section{
    display: flex;
}
li{
    margin: 5px;
}
input{
    padding: 10px;
}
section{
    flex-direction: column;
    align-items: center;
}
