<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="producto_g.php" method="POST">
   
        <div class="row ">
          <div class="col-12 ">
          <label for="nom_p">Nombre:</label>
          <input type="text" class="form-control col-lg-6" id="nom_p" name="nom_p" required>
          </div>
          <div class="col-12 ">
          <label for="existencias">Existencias:</label>
          <input type="text" class="form-control col-lg-6" id="existencias" name="existencias">
          </div>
          <div class="col-12">
          <label for="precio">precio</label>
          <input type="text" id="precio" class="form-control" name="precio">
          </div>
          <div class="col-6">
          <label for="imagen_p">imagen</label>
          <input type="text" id="imagen_p" class="form-control" name="imagen_p">
          </div>
          <div class="col-6">
          <label for="notas_prod">notas</label>
          <input type="text" id="notas_prod" class="form-control" name="notas_prod">
          </div>
       
          <div class="col-12 d-grid gap-2">
          </div>
        </div>
        
           </div>
           <div class="modal-footer">
             <input type="submit" class="btn btn-primary btn-lg" value="Enviar">
           </div>
           </form>
</body>
</html>